{% extends 'layouts/master.twig' %}

{% block content %}

<!-- shop-page-wrapper start -->
<div class="shop-page-wrapper">
    <div class="shop-category-area shop-category-bg">
        <!-- shop-category-titel start-->
        <div class="shop-category-titel">
            <div class="container">
                <div class="row">
                    <div class="col-lg-12">
                        <h2>Shop</h2>
                    </div>
                </div>
            </div>
        </div>
        <!-- shop-category-titel end -->
    </div>
    <!-- breadcrumb-area start  -->
    <div class="breadcrumb-area">
        <div class="container">
            <div class="row">
                <div class="col-lg-12">
                    <ul class="breadcrumb-list">
                        <li class="breadcrumb-item"><a href="/">Home</a></li>
                        <li class="breadcrumb-item active">Shop</li>
                    </ul>
                </div>
            </div>
        </div>
    </div>
    <!-- breadcrumb-area end  -->

    <div class="container">
        <div class="row">
            <div class="col-md-12 col-sm-12 col-lg-12 shop-add-to-cart-dump">

            </div>
        </div>
    </div>

    <!-- shop-page-main-content start -->
    <div class="shop-page-main-content" style="margin-bottom: 25px;">
        <div class="container">
            <div class="row">
                <div class="col-lg-3 order-1 order-lg-1">
                    <!-- sidebar-shop start -->
                    <div class="sidebar-shop">
                        <!-- sinlge-block-categories start -->
                        <div class="sinlge-block-categories mb-30">
                            <div class="secton-titel-three">
                                <h3>Shop by Category</h3>
                            </div>
                            <!-- category-sub-menu start -->
                            <div class="category-sub-menu">
                                <ul>
                                    {# <li class="has-sub"><a href="#">Baking Mats</a>
                                        <ul>
                                            <li><a href="#">Accessories</a></li>
                                            <li><a href="#">Aprons</a></li>
                                            <li><a href="#">Tea Accessories</a></li>
                                            <li><a href="#">Mandoline Slicers</a></li>
                                        </ul>
                                    </li> #}
                                {# {{ categories[0] }} #}
                                {% if categories %}
                                    <li class="has-no-sub"><a class="{{ category_passed == '' ? 'active' : '' }}" href="{{ base_url() }}">All Categories</a></li>
                                    {% for category in categories %}
                                        <li class="has-no-sub"><a class="{{ category_passed == category.category_name ? 'active' : '' }}" href="{{ base_url() }}/{{ category.category_name }}">{{ category.category_name }}</a></li>
                                    {% else %}
                                        <li class="has-no-sub"><a href="#">No Category Found</a></li>
                                    {% endfor %}
                                {% else %}
                                    <li class="has-no-sub"><a href="#">No Category Found</a></li>
                                {% endif %}
                                </ul>
                            </div>
                            <!-- category-sub-menu end -->
                        </div>
                        <!-- sinlge-block-categories end -->
                        <!-- sinlge-block-categories start -->
                        <!--
                        <div class="sinlge-block-categories mt-30">
                            <!-- one-sale-area start --
                            <div class="one-sale-area">
                                <div class="secton-titel-three">
                                    <h3> One sale</h3>
                                </div>
                                <div class="category-item-active owl-carousel">
                                    <div class="category-item-inner">
                                        <!-- category-item start --
                                        <div class="category-item">
                                            <div class="product-img">
                                                <a href="#"><img src="<?php echo Config::get('app.url'); ?>/assets/img/product/s1.jpg" alt=""></a>
                                            </div>
                                            <div class="single-product-info">
                                                <h3><a href="shop.html">Autumn on the new middle-aged men's clothes hot V-neck long-sleeved sweater</a></h3>
                                                <div class="product-price-box">
                                                    <span class="new-price">$50.99</span>
                                                </div>
                                            </div>
                                        </div>
                                        <!-- category-item end --
                                        <!-- category-item start --
                                        <div class="category-item">
                                            <div class="product-img">
                                                <a href="#"><img src="<?php echo Config::get('app.url'); ?>/assets/img/product/s2.jpg" alt=""></a>
                                            </div>
                                            <div class="single-product-info">
                                                <h3><a href="shop.html">Comfortable casual Slim O neck long-sleeved sweater</a></h3>
                                                <div class="product-price-box">
                                                    <span class="old-price">$20.50</span>
                                                    <span class="new-price">$10.99</span>
                                                </div>
                                            </div>
                                        </div>
                                        <!-- category-item end --
                                        <!-- category-item start --
                                        <div class="category-item">
                                            <div class="product-img">
                                                <a href="#"><img src="<?php echo Config::get('app.url'); ?>/assets/img/product/s3.jpg" alt=""></a>
                                            </div>
                                            <div class="single-product-info">
                                                <h3><a href="shop.html">2018 Mens Turtleneck Sweaters Solid green Men's Jumpers Knitted Pullover </a></h3>
                                                <div class="product-price-box">
                                                    <span class="old-price">$26.30</span>
                                                    <span class="discount">-10%</span>
                                                    <span class="new-price">$24.03</span>
                                                </div>
                                            </div>
                                        </div>
                                        <!-- category-item end --
                                    </div>
                                    <div class="category-item-inner">
                                        <!-- category-item start --
                                        <div class="category-item">
                                            <div class="product-img">
                                                <a href="#"><img src="<?php echo Config::get('app.url'); ?>/assets/img/product/s5.jpg" alt=""></a>
                                            </div>
                                            <div class="single-product-info">
                                                <h3><a href="shop.html">Autumn on the new middle-aged men's clothes hot V-neck long-sleeved sweater</a></h3>
                                                <div class="product-price-box">
                                                    <span class="new-price">$50.99</span>
                                                </div>
                                            </div>
                                        </div>
                                        <!-- category-item end --
                                        <!-- category-item start --
                                        <div class="category-item">
                                            <div class="product-img">
                                                <a href="#"><img src="<?php echo Config::get('app.url'); ?>/assets/img/product/s6.jpg" alt=""></a>
                                            </div>
                                            <div class="single-product-info">
                                                <h3><a href="shop.html">Comfortable casual Slim O neck long-sleeved sweater</a></h3>
                                                <div class="product-price-box">
                                                    <span class="old-price">$20.50</span>
                                                    <span class="new-price">$10.99</span>
                                                </div>
                                            </div>
                                        </div>
                                        <!-- category-item end --
                                    </div>
                                </div>
                            </div>
                            <!-- one-sale-area end --
                        </div>
                        -->
                        <!-- sinlge-block-categories end -->
                    </div>
                    <!-- sidebar-shop end -->
                </div>
                <div class="col-lg-9 order-2 order-lg-2">
                    <!-- archive-border-area start -->
                    <div class="archive-border-area">
                        <!-- shop-item-filter start -->
                        <div class="shop-item-filter">
                            <!-- shop-item-filter-list start -->
                            <ul role="tablist" class="nav shop-item-filter-list">
                                <li role="presentation" class="active"><a href="#grid-view" aria-controls="grid-view" role="tab" data-toggle="tab" class="active show" aria-selected="true"><i class="fa fa-th"></i></a></li>
                                <li role="presentation"><a href="#list-view" aria-controls="list-view" role="tab" data-toggle="tab"><i class="fa fa-list-ul"></i></a></li>
                            </ul>
                            <!-- shop-item-filter-list end -->
                            <!-- <div class="radio-container-div custom-shop-item-filter-full">
                                <label class="radio-container">Formals
                                  <input type="radio" checked="checked" class="switch-collection-radio" name="fc_radio" value="formals" disabled>
                                  <span class="checkmark"></span>
                                </label>
                                <label class="radio-container">Casuals
                                  <input type="radio" class="switch-collection-radio" name="fc_radio" value="casuals" disabled>
                                  <span class="checkmark"></span>
                                </label>
                            </div>
                            <label class="switch custom-shop-item-filter-full">
                                <input type="checkbox" class="formal-casual-switch" name="switch-collections" checked>
                                <span class="slider round"></span>
                            </label>
                            <span class="custom-shop-item-filter-full cloned-p-shop-item-filter">Showing All collections</span> -->
                            <!-- filter-form start -->
                            <form class="filter-form" action="#">
                                <div class="orderby-wrapper custom-orderby-wrapper">
                                    <label style="vertical-align: middle;">Sort By : </label>&nbsp;
                                    <span class="orderby-select custom-orderby-select">
                                        <select id="orderByFilter" name="orderByFilter" class="orderby nice-select right">
                                        	<option value="oldest">Sort by oldest</option>
                                            <option value="date">Sort by newness</option>
                                            <option value="priceAsc">Sort by price: low to high</option>
                                            <option value="priceDesc">Sort by price: high to low</option>
                                        </select>
                                    </span>
                                </div>
                            </form>
                            <!-- filter-form end -->
                        </div>
                        <!-- shop-item-filter start -->
                        <!-- shop-products-wrapper start -->
                        <div class="shop-products-wrapper">
                            <div class="tab-content">
                                <div id="grid-view" class="tab-pane fade active show" role="tabpanel">
                                    <div class="shop-product-area">
                                        <div class="row grid-view-row">
                                        {% if products %}
                                            {% for product in products %}
                                            <div class="col-lg-4 col-md-4 col-sm-6">
                                                <!-- single-product start -->
                                                <div class="single-product">
                                                    <div class="product-image custom-product-image-css">
                                                        <a href="">
                                                            <img src="{{ base_url() }}/images/products/product_{{ product.id }}/medium.jpg" class="custom-product-img" alt="">
                                                        </a>
                                                        <span class="sale-sticker">New</span>
                                                        <div class="product-action">
                                                            <a href="javascript:void(0)" class="quick-view" data-productId="{{ product.id }}" data-toggle="modal" data-target="#productModal">
                                                                <i class="fa fa-search"></i>
                                                            </a>
                                                        </div>
                                                    </div>
                                                    <div class="single-product-info">
                                                        <h3><a href="">{{ product.product_name }}</a></h3>
                                                        <div class="product-price-box">
                                                            <span class="new-price">{{ currency_symbol }}{{ product.product_price }}.00</span>
                                                        </div>
                                                    </div>
                                                </div>
                                                <!-- single-product end -->
                                            </div>
                                            {% else %}
                                            <div class="col-lg-12 col-md-12 col-sm-12">
                                                <h3 style="margin-top: 40px; margin-bottom: 40px;">No product found...</h3>
                                            </div>
                                            {% endfor %}
                                        {% endif %}
                                        </div>
                                    </div>
                                </div>
                                <div id="list-view" class="tab-pane fade list-view-row" role="tabpanel">
                                    <!-- list-view-areat start -->
                                    {% if products %}
                                        {% for product in products %}
                                        <div class="list-view-area mt-30">
                                            <div class="row">
                                                <div class="col-lg-4 col-md-6">
                                                    <div class="product-list custom-product-image-css">
                                                        <div class="product-image">
                                                                <a href="">
                                                                    <img src="{{ base_url() }}/images/products/product_{{ product.id }}/medium.jpg" alt="">
                                                                </a>
                                                                <span class="sale-sticker">New</span>
                                                                <div class="product-action">
                                                                    <a href="javascript:void(0)" class="quick-view" data-productId="{{ product.id }}" data-toggle="modal" data-target="#productModal">
                                                                        <i class="fa fa-search"></i>
                                                                    </a>
                                                                </div>
                                                            </div>
                                                    </div>
                                                </div>
                                                <div class="col-lg-8 col-md-6">
                                                    <div class="single-product-info">
                                                            <h3><a href="">{{ product.product_name }} </a></h3>
                                                            <div class="rating-box">
                                                            <i class="fa fa-star"></i>
                                                            <i class="fa fa-star"></i>
                                                            <i class="fa fa-star-o"></i>
                                                            <i class="fa fa-star-o"></i>
                                                            <i class="fa fa-star-o"></i>
                                                            </div>
                                                            <div class="product-price-box">
                                                                <span class="new-price">{{ currency_symbol }}{{ product.product_price }}.00</span>
                                                            </div>
                                                            <span>Stock availability: <a href="javascript:void(0)" style="color: green;"><i class="fa fa-check-square" aria-hidden="true"></i> In Stock</a></span>
                                                            {# <span>Stock availability: <a href="javascript:void(0)" style="color: red;"><i class="fa fa-times-circle" aria-hidden="true"></i> Out of stock</a></span> #}
                                                            <p>{{ product.product_description }}</p>
                                                            <button class="button btn-cart cstm-buy-now-single" data-product-id="1" style=""><i class="fa fa-get-pocket" aria-hidden="true"></i><span class="buy-now-single"> Buy Now</span></button>
                                                            <button class="button btn-cart cstm-add-cart-single" data-product-id="1" style=""><i class="fa fa-cart-plus" aria-hidden="true"></i><span class="add-cart-single"> Add to cart</span></button>
                                                        </div>
                                                </div>
                                            </div>
                                        </div>
                                        {% else %}
                                        <div class="col-lg-12 col-md-12 col-sm-12" style="padding: 0 0;">
                                            <h3 style="margin-top: 40px; margin-bottom: 40px;">No product found...</h3>
                                        </div>
                                        {% endfor %}
                                    {% endif %}
                                    <!-- list-view-area end -->
                                    {# <div class="col-lg-12 col-md-12 col-sm-12" style="padding: 0 0;">
                                        <h3 style="margin-top: 40px; margin-bottom: 40px;">No products found under this category...</h3>
                                    </div> #}
                                    <!-- list-view-areat start -->
                                    <!-- <div class="list-view-area mt-30">
                                       <div class="row">
                                           <div class="col-lg-4 col-md-6">
                                               <div class="product-list">
                                                   <div class="product-image">
                                                        <a href="<?php echo Config::get('app.url'); ?>/single-product/firstproduct">
                                                            <img src="" alt="">
                                                        </a>
                                                        <span class="sale-sticker">New</span>
                                                        <div class="product-action">
                                                            <a href="#" class="quick-view" data-toggle="modal" data-target="#productModal">
                                                                <i class="fa fa-search"></i>
                                                            </a>
                                                        </div>
                                                    </div>
                                               </div>
                                           </div>
                                           <div class="col-lg-8 col-md-6">
                                               <div class="single-product-info">
                                                    <h3><a href="/single-product/firstproduct">The new autumn and winter 2018 </a></h3>
                                                    <div class="rating-box">
                                                       <i class="fa fa-star"></i>
                                                       <i class="fa fa-star"></i>
                                                       <i class="fa fa-star"></i>
                                                       <i class="fa fa-star"></i>
                                                       <i class="fa fa-star-o"></i>
                                                    </div>
                                                    <div class="product-price-box">
                                                        <span class="new-price">$25.99</span>
                                                    </div>
                                                    <p>Video in your pocket. Its the small iPod with one very big idea: video. The worlds most popular music player now lets you enjoy movies, TV shows, and more on a two-inch display thats 65% brighter than before.
                                                    Cover Flow.Brow..</p>
                                                    <button class="button btn-cart"><i class="fa fa-get-pocket" aria-hidden="true"></i><span class="buy-now-single"> Buy Now</span></button>
                                                    <button class="button btn-cart"><i class="fa fa-cart-plus" aria-hidden="true"></i><span class="add-cart-single"> Add to cart</span></button>
                                                </div>
                                           </div>
                                       </div>
                                    </div> -->
                                    <!-- list-view-area end -->
                                </div>
                            </div>
                        </div>
                        <!-- shop-products-wrapper end -->
                        <!-- pagination-area start -->
                        {# <div class="pagination-area">
                            <div class="paginatoin-area">
                                <div class="row">
                                    <div class="col-lg-6 col-md-6 showing-items-per-page">
                                        <p>Showing 1-6 of 100 item(s) </p>
                                    </div>
                                    <div class="col-lg-6 col-md-6">
                                        <ul class="pagination-box custom-pagination-box">
                                          <li><a class="Previous active"  href="javascript:void(0)" style="cursor: not-allowed;" title="No Previous Pages"><i class="zmdi zmdi-chevron-left"></i> Previous</a></li>
                                        	<li class="active"><a  href="javascript:void(0)" title="Page 1"> Page 1</a></li>
                                          <li><a class="Next" href="javascript:void(0)"> Next <i class="zmdi zmdi-chevron-right"></i></a></li>
                                        </ul>
                                    </div>
                                </div>
                            </div>
                        </div> #}
                        <!-- pagination-area end -->
                    </div>
                    <!-- archive-border-area end -->
                </div>
            </div>
        </div>
    </div>
    <!-- shop-page-main-content end -->
</div>
<!-- shop-page-wrapper end -->
<input type="hidden" id="currency" name="currency" value="{{ currency_shortcode }}" />
<input type="hidden" id="category_name" name="category_name" value="{{ category_passed }}" />
<input type="hidden" id="order_filter" name="order_filter" value="oldest" />
<input type="hidden" id="ajax_pagination_page" name="ajax_pagination_page" value="0" />
<script type="text/javascript">
    window.currency_rate = 1;
	window.currency_symbol = 'INR';
    $(document).ready(function(){
        var currency = $("#currency").val();
        if(currency != 'INR'){
            convertCurrency(currency);
        }
    });

    $(document).on('click', '.currency_change', function(){
        var currencyShortcode = $(this).attr('data-symbol');
        //alert(currencyShortcode);
        $(this).parent().parent().find('.main-currency-symbol').html(currencyShortcode);
        $(this).parent().parent().find('a.active').removeClass('active');
        $(this).parent().css('display', 'none');
        convertCurrency(currencyShortcode);
    });

    function convertCurrency(currency){
        $.ajax({
            type: 'GET',
            dataType : "json",
            cache : false,
            url: 'https://api.exchangeratesapi.io/latest?base='+currency,
            error:function(e){

            },
            success: function(data){
                if(data.rates != ''){
                    $.each(data.rates, function(key, value){
                        if(key == 'INR'){
                            //alert(key);
                            window.currency_rate = value;
                            window.currency_symbol = currency;
                            getProducts(window.currency_rate,window.currency_symbol);
                        }
                    });
                }
            }
        });
    }

    $(document).on('click', '.custom-orderby-select', function(){
    	var sort_value = $('#order_filter').val();
    	var filter_val = $(this).find('li.selected').attr('data-value').trim();
    	if(sort_value != filter_val){
    		$('#order_filter').val(filter_val);
    		// alert(filter_val);
    		getProducts(window.currency_rate,window.currency_symbol);
    	}
    });

	function getProducts(currency, symbol){
        var category_name = $('#category_name').val();
        var filter_url = "filter?currency="+currency+"&symbol="+symbol+"&category=" + category_name.trim();

		var order_filter = $('#order_filter').val();
		var pagination_page_no = $('#ajax_pagination_page').val();
        if(order_filter != ''){
        	filter_url = filter_url + "&orderType=" + order_filter.trim();
        }

        if(pagination_page_no != 0){
        	filter_url = filter_url + "&page=" + pagination_page_no.trim();
        }

		$.ajax({
            type: 'GET',
            dataType : "json",
            data : {},
            url: filter_url,
            async: false,
            cache:false,
            error:function(e){
                // console.log(e.responseJSON.error);
                if(e.responseJSON.error == true){
                    if(e.responseJSON.message != null){
                        // $('.add-product-error').html(e.responseJSON.message).show();
                    }
                }
            },
            beforeSend: function(){
            	// $('.grid-view-row-loader').show();
		        $('.grid-view-row').html('<div class="col-lg-12 col-md-12 col-sm-12" style="text-align: center;">'+
		                                    '<img src="{{ base_url() }}/img/loadingImage.gif">'+
		                                '</div>');
		        $('.list-view-row').html('<div class="col-lg-12 col-md-12 col-sm-12" style="text-align: center;">'+
		                                    '<img src="{{ base_url() }}/img/loadingImage.gif">'+
		                                '</div>');
            },
            complete: function(){
                // $('.grid-view-row-loader').hide();
                // $('.grid-view-row').html('complete fetched grid');
        		// $('.list-view-row').html('complete fetched list');
            },
            success: function(data){
                // console.log(data);
                if(data.success == true){
                	$('html, body').animate({
                        'scrollTop' : $(".shop-page-main-content").offset().top
                    });
                	if(data.all_products != ''){
						// $('.grid-view-row').html('fetched grid');
        				// $('.list-view-row').html('fetched list');
        				if(Array.isArray(data.all_products)){
        					$('.grid-view-row').html('');
        					$('.list-view-row').html('');
        					$.each(data.all_products, function(key, value){
        						// alert(value.id);
        						var featuredImg = '{{ base_url() }}/img/no_product_photo.jpg';
        						if(value.id != ''){
        							featuredImg = '{{ base_url() }}/images/products/product_'+value.id+'/medium.jpg';
        						}

        						var productDescription = value.long_description;
        						if(productDescription == ''){
        							productDescription = 'No Description Found...';
        						}

                                var new_offer_label = '<span class="sale-sticker">New</span>';

                                var product_price_box_template = '<span class="new-price">'+value.currency_symbol+''+value.price+'</span>';

        						$('.grid-view-row').append('<div class="col-lg-4 col-md-4 col-sm-6">'+
			                                                '<div class="single-product">'+
			                                                    '<div class="product-image custom-product-image-css">'+
			                                                        '<a href="javascript:void(0)">'+
																		'<img src="'+featuredImg+'" class="custom-product-img" alt="">'+
			                                                        '</a>'+
			                                                        new_offer_label+
			                                                        '<div class="product-action">'+
			                                                            '<a href="javascript:void(0)" class="quick-view" data-productId="'+value.id+'">'+
			                                                                '<i class="fa fa-search"></i>'+
			                                                            '</a>'+
			                                                        '</div>'+
			                                                    '</div>'+
			                                                    '<div class="single-product-info">'+
			                                                        '<h3><a href="javascript:void(0)">'+value.name+'</a></h3>'+
			                                                        '<div class="product-price-box">'+
			                                                            product_price_box_template+
			                                                        '</div>'+
			                                                    '</div>'+
			                                                '</div>'+
			                                            '</div>');

        						$('.list-view-row').append('<div class="list-view-area mt-30">'+
                                       '<div class="row">'+
                                           '<div class="col-lg-4 col-md-6">'+
                                               '<div class="product-list custom-product-image-css">'+
                                                   '<div class="product-image">'+
                                                        '<a href="javascript:void(0)">'+
                                                            '<img src="'+featuredImg+'" alt="">'+
                                                        '</a>'+
                                                        new_offer_label+
                                                        '<div class="product-action">'+
                                                            '<a href="javascript:void(0)" class="quick-view" data-productId="'+value.id+'">'+
                                                                '<i class="fa fa-search"></i>'+
                                                            '</a>'+
                                                        '</div>'+
                                                    '</div>'+
                                               '</div>'+
                                           '</div>'+
                                           '<div class="col-lg-8 col-md-6">'+
                                               '<div class="single-product-info">'+
                                                    '<h3><a href="javascript:void(0)">'+value.name+' </a></h3>'+
                                                    '<div class="rating-box">'+
                                                       '<i class="fa fa-star"></i>'+
                                                       '<i class="fa fa-star"></i>'+
                                                       '<i class="fa fa-star-o"></i>'+
                                                       '<i class="fa fa-star-o"></i>'+
                                                       '<i class="fa fa-star-o"></i>'+
                                                    '</div>'+
                                                    '<div class="product-price-box">'+
                                                        product_price_box_template+
                                                    '</div>'+
                                                    '<p>'+productDescription+'</p>'+
                                                    '<button class="button btn-cart cstm-buy-now-single" data-product-id="'+value.id+'" style=""><i class="fa fa-get-pocket" aria-hidden="true"></i><span class="buy-now-single"> Buy Now</span></button>&nbsp;'+
                                                    '<button class="button btn-cart cstm-add-cart-single" data-product-id="'+value.id+'" style=""><i class="fa fa-cart-plus" aria-hidden="true"></i><span class="add-cart-single"> Add to cart</span></button>'+
                                                '</div>'+
                                           '</div>'+
                                       '</div>'+
                                    '</div>');
        					});

        				} else {
        					$('.grid-view-row').html('<div class="col-lg-12 col-md-12 col-sm-12">'+
		                                                '<h3 style="margin-top: 40px; margin-bottom: 40px;">No products found...</h3>'+
		                                            '</div>');
	        				$('.list-view-row').html('<div class="col-lg-12 col-md-12 col-sm-12" style="padding: 0 0;">'+
				                                        '<h3 style="margin-top: 40px; margin-bottom: 40px;">No products found...</h3>'+
				                                    '</div>');
        				}
                	} else {
                		$('.grid-view-row').html('<div class="col-lg-12 col-md-12 col-sm-12">'+
	                                                '<h3 style="margin-top: 40px; margin-bottom: 40px;">No products found...</h3>'+
	                                            '</div>');
        				$('.list-view-row').html('<div class="col-lg-12 col-md-12 col-sm-12" style="padding: 0 0;">'+
			                                        '<h3 style="margin-top: 40px; margin-bottom: 40px;">No products found...</h3>'+
			                                    '</div>');
                	}
                }
            }
        });
	}

    $(document).on('click', '.quick-view', function(){
        var productId = $(this).attr('data-productId');
        // alert(productId);
        $('#productModal').modal('show');
        $('.modal-inner-area-before-loading').show();
        $('.modal-inner-area-after-loading').hide();

        $.ajax({
            type: 'POST',
            dataType : "json",
            data : {'productId': productId, 'currency_rate': window.currency_rate, 'currency_symbol': window.currency_symbol},
            url: "product-popup",
            error:function(e){
                // console.log(e.responseJSON.error);
                if(e.responseJSON.error == true){
                    if(e.responseJSON.message != null){
                        $('.modal-inner-area-after-loading').html('<div class="col-lg-12 col-md-12"><h2>'+e.responseJSON.message+'</h2></div>');
                    }
                }
            },
            complete: function(){
                $('.modal-inner-area-before-loading').hide();
                $('.modal-inner-area-after-loading').show();
            },
            success: function(data){
                // console.log(data);
                // alert(data.get_product_details.length);
                if(data.success == true){
                    $('.popup-add-to-cart-dump').html('');
                    if(data.get_product_details != 0){
                        var no_img = '{{ base_url() }}/img/no_product_photo.jpg';
                        var set_images = [];
                        set_images.push('{{ base_url() }}/images/products/product_'+data.get_product_details.id+'/large.jpg');
                        $('.custom-large-thum-image').html('');
                        $('.custom-product-small-thum').html('');
                        if(set_images != ''){
                            $.each(set_images, function(image_key, image_value){
                                if(image_key == 0){
                                    $('.custom-large-thum-image').append('<div role="tabpanel" class="tab-pane active" id="Thumb'+image_key+'">'+
                                                                        '<img src="'+image_value+'" alt="">'+
                                                                    '</div>');
                                    $('.custom-product-small-thum').append('<li role="presentation" class="active"><a href="#Thumb'+image_key+'" data-toggle="tab"><img src="'+image_value+'" alt=""></a></li>');
                                } else {
                                    $('.custom-large-thum-image').append('<div role="tabpanel" class="tab-pane" id="Thumb'+image_key+'">'+
                                                                        '<img src="'+image_value+'" alt="">'+
                                                                    '</div>');
                                    $('.custom-product-small-thum').append('<li role="presentation"><a href="#Thumb'+image_key+'" data-toggle="tab"><img src="'+image_value+'" alt=""></a></li>');
                                }
                            });
                        } else {
                            $('.custom-large-thum-image').append('<div role="tabpanel" class="tab-pane active" id="Thumb1">'+
                                                                '<img src="'+no_img+'" alt="" style="width:100%;">'+
                                                            '</div>');
                            $('.custom-product-small-thum').append('<li role="presentation" class="active"><a href="#Thumb1" data-toggle="tab"><img src="'+no_img+'" alt=""></a></li>');
                        }

                        if(data.get_product_details.name != ''){
                            $('.custom-popup-product-title').html(data.get_product_details.name);
                        } else {
                            $('.custom-popup-product-title').html('Not defined');
                        }

                        if(data.get_product_details.long_description != ''){
                            $('.custom-popup-product-description').html(data.get_product_details.long_description);
                        } else {
                            $('.custom-popup-product-description').html('Not defined');
                        }

                        var product_price_box_template = '<div class="new-price">'+data.get_product_details.currency_symbol+''+data.get_product_details.price+'</div>';

                        $('.custom-popup-price').html(product_price_box_template);

                        //if(data.get_product_details.status == 1){
                            $('.custom-popup-availability').html('Stock availability: '+
                                        '<a href="javascript:void(0)" style="color: green;"><i class="fa fa-check-square" aria-hidden="true"></i> In Stock</a>');
                            $('.trigger-buy-now').css({'opacity': '1', 'cursor': 'pointer'});
                            $('.trigger-add-cart').css({'opacity': '1', 'cursor': 'pointer'});
                        //} else {
                        //    $('.custom-popup-availability').html('Stock availability: '+
                        //                '<a href="javascript:void(0)" style="color: red;"><i class="fa fa-times-circle" aria-hidden="true"></i> Out of stock</a>');
                        //    $('.trigger-buy-now').css({'opacity': '0.7', 'cursor': 'no-drop'});
                        //    $('.trigger-add-cart').css({'opacity': '0.7', 'cursor': 'no-drop'});
                        //}

                        $('.cart-plus-minus-box').val(1);
                        $('.custom-popup-attribute').html('');
                        /*
                        if(data.get_product_details.isset_attributes != 0){
                            if((data.get_product_details.attributes != 'null') && (data.get_product_details.attributes != '')){
                                $.each(data.get_product_details.attributes, function(attr_key, attr_value){
                                    if(attr_key == 'Color'){
                                        $('.custom-popup-attribute').append('<div class="modal-color">'+
                                                                                '<h4>'+attr_key+'</h4>'+
                                                                                '<div class="color-list">'+
                                                                                    '<ul></ul>'+
                                                                                '</div>'+
                                                                            '</div>');
                                        if(attr_value.length != 0){
                                            $.each(attr_value, function(a_t_key, a_t_value){
                                                $('.custom-popup-attribute').children().last('div').find('ul').append('<li><label><input type="radio" class="attr_colors popup_product_attr" name="popup_attribute_'+attr_key+'" value="'+a_t_value+'"><a href="javascript:void(0)" class="active" style="background:'+a_t_value.toLowerCase()+'" title="'+a_t_value+'"></a></label></li>');
                                            });
                                        }
                                    } else {
                                        $('.custom-popup-attribute').append('<div class="modal-size">'+
                                                                                '<h4>'+attr_key+'</h4>'+
                                                                            '</div>');
                                        if(attr_value.length != 0){
                                            $.each(attr_value, function(a_t_key1, a_t_value1){
                                                $('.custom-popup-attribute').children().last('div').append('<label style="cursor: pointer;"><input type="radio" class="popup_product_attr" name="popup_attribute_'+attr_key+'" value="'+a_t_value1+'"><strong style="margin-right: 5px;"><span class="badge badge-secondary">'+a_t_value1+'</span></strong></label>');
                                            });
                                        }
                                    }
                                });
                            }
                        }
                        */
                        $('input[name="popup_productId"]').val(data.get_product_details.id);

                    } else {
                        $('.modal-inner-area-after-loading').html('<div class="col-lg-12 col-md-12"><h2>No details found...</h2></div>');
                    }
                }
            }
        });
    });

</script>

{% endblock %}